html {
    font-size: 10px;
}

body {
    background: linear-gradient(#3b3b3b, #2b2b2b);
    height: 100%;
    color: whitesmoke;
    font-size: 1.4rem;
    margin: 2rem 0;
    padding: 2rem;
    text-align: center;
}